/* General */
.ant-card {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px;
    display: inline-block;
}

/*Today view*/
    .date-zone {
        height: 85px;
        background-color: #45791d;
        position: fixed;
        width: 100%;
        z-index: 10;
        text-align: center;
    }

    #games-zone {
        top: 90px;
        position: relative;
    }

    .date-button {
        vertical-align: text-top;
        margin: 0px 10px;
    }

    .ant-calendar-picker {
        width: 230px;
        top: 6px;
    }

    .selected-date, .favourite-team {
        left: 12%;
        position: relative;
        display: inline;
    }

    .favourite-team {
        padding-right: 10px;
    }

    .team, .score, .line-team h4{
        display: inline;
    }

    .score {
        float: right;
    }

    .home {
        border-bottom: 1px black solid;
    }

/* Game View*/
    #game-view .ant-card {
        min-height: 200px;
    }

    #game-view h4 {
        font-size: 14px;
    }

    #game-view h3 {
        font-size: 18px;
    }

    .game-title {
        text-align: center;
    padding-bottom: 20px;
    }

    .linescore {
        float: right;
    }

    .batter-team-box h4 {
        display: inline;
    }

    .batterTable td, .linescore td {
        padding-right: 10px;
    }

    .active {
        font-weight: bold;
    }
